<!DOCTYPE html>
<html>
	<head>
		<title>Andrei Fedotov - Admin</title>
		<link rel="shortcut icon" href="../public/assets/images/favicon.ico" type="image/x-icon">
	</head>
	<body class="admin">
		<span>Enter Access-Code</span>
		<input type="text" name="access-code">
		<a href="">Log In</a>
		<script type="text/javascript" src="../public/javascripts/jquery-3.4.1.min.js" charset="utf-8"></script>
		<script type="text/javascript" src="../public/javascripts/script.js"></script>
	</body>
</html>