

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Index page</title>
  </head>
  <body>
    <ul>
      <% names.forEach(function(name) { %>
        <li><%= name %></li>
      <% }); %>
    </ul>
  </body>
</html>
